{%load static%}
{%load unicorn%}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>IMAGENS PARA PDF</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="{% static 'css/style.css' %}" />
    <script src="https://kit.fontawesome.com/b853a65915.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div>
            <h2>Home</h2>
        </div>
        <div></div>
    </header>
    <div class="container">
        <div class="bloco">
            <form id="form" action="{%url 'home'%}" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="icon_label">
                <i class="fa-solid fa-images"></i>
            </div>
            <input hidden multiple required type="file" name="images" id="file_" />
            <div id="output" class="output_files" style="max-height: 250px;">    
                <ul>
                    {% if files %}
                    {% for f in files %}
                    <li>{{f}}</li>
                    {% endfor %}
                    {% else %}
                    <li>Nenhum arquivo selecionado ainda.</li>
                    {% endif %}
                </ul>
            </div>
            <br/>
            <span onclick="uploadClick()" class="button">
                Upload
            </span>
            </form>
            <br/>
            <button onclick="submitForm()" class="button">
                Enviar
            </button>
            <div id="spinner" style="display:none;">
                <br/>
                <center>
                    <div class="" id="box-spinner">
                        <i class="fa fa-circle-o-notch spinner text-xl" style="font-size:50px"></i>
                    </div>
                </center>
                <br/>
            </div>
        </div>
        {% csrf_token %}
        {%unicorn 'images'%}
    </div>
    <script>
        let inputUpload = document.querySelector('#file_')
        let files = []
        let loop
        let output = document.querySelector('#output').children[0]
        let form = document.querySelector('#form')
        let spinner = document.querySelector('#spinner')

        function submitForm(){
            spinner.style.display = 'block'
            form.submit()
        }

        function uploadClick() {
            inputUpload.value=""
            inputUpload.click();
            loop = setInterval(function () {
                if(inputUpload.files.length > 0) {
                    files = []
                    for (file in inputUpload.files){
                        if (inputUpload.files[file].name != undefined && inputUpload.files[file].__proto__ == new File(['test'],'test').__proto__){
                            files.push(inputUpload.files[file].name)
                        }
                    }
                    output.innerHTML = ''
                    let items = []
                    files.map(function (file) {
                        items.push(`<li>${file}</li>`)
                    })
                    output.innerHTML = items.join('\n')
                    clearInterval(loop)
                }
            }, 500)
    }
    </script>
</body>
<footer style="position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;">Created by Gustavo Henrique da Silva Tramonte</footer>
</html>
