<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script data-ad-client="ca-pub-6418284637802271" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="ui">
        <div class="ui secondary attached menu">
            <a href="{%url 'home'%}" class="item" style="font-size:20px; font-weight:bold;">
              Home
            </a>
        </div>
        <div class="ui hidden divider"></div>
    </div>
    <div class="ui container">
        <div class="ui placeholder segment">
            <div class="ui placeholder segment">
                <div class="ui icon header">
                  <i class="pdf file outline icon"></i>
                  IMAGENS PARA PDF
                </div>
                    <form action="{%url 'upload'%}" method='post' enctype="multipart/form-data">{% csrf_token %}
                    <div class="ui" style="text-align:center">
                        <input required name="images" type="file" multiple>
                    </div>
            </div>
            <div class="ui primary button">
                <button type="submit" class="ui primary button">
                    Submit
                  </button>
            </div> 
            </form>
        </div>
        <div class="ui" style="display: flex; justify-content: center;">
            <a type="submit" class="ui primary button" href="{{file_pdf}}">
                    Baixar
            </a>
        </div> 
    </div>
</body>
<div style="position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;">Created by Gustavo Henrique da Silva Tramonte</div>
</html>
